	<section class="wow container" data-wow-delay="1.4s" 
	id="aboutus">
	{% if page.languages contains "pt" %}
	<h1>Sobre nós</h1>

	<p>Janeraka ("Nossa Casa" na lingua Awaete) é uma iniciativa dos Assurinis do Xingu que busca estabelecer conexões entre os povos da floresta e os <em>karai</em> ("nao indígenas") através de Trocas de Saberes. O projeto traz em sua essência o fortalecimento dos povos originários e de seus territórios.</p>

	<p>Atualmente, dois pontos físicos na região norte do Brasil formam a infraestrutura básica de Janeraka:</p>

	<ul>
		<li><strong>Janeraka Aldeia 2 Pages</strong> - <a href="https://terrasindigenas.org.br/pt-br/terras-indigenas/3733">Terra Indígena Koatinemo</a></li>
		<!-- 	<li><strong>Janeraka Altamira</strong> - Altamira / PA</li> -->
		<li><strong>Janeraka Belém</strong> - Belém / PA</li>
	</ul>

	<p>Juntos, esses dois pontos conectam a floresta e seus povos à maior capital da região e ao mundo.</p>
	
		<h2> Para saber mais sobre a nossa luta</h2>
	
	{% else %}
	<h1>About Us</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias repellendus aut animi totam velit similique pariatur soluta ut aliquid maiores.</p>
	<p>Omnis quos aliquam aliquid maxime quisquam quidem, pariatur nesciunt velit doloribus, placeat mollitia, perferendis perspiciatis quo eaque fugiat, doloremque aspernatur.</p>
	{% endif %}
	<a href="/assets/pdf/agenda-awaete.pdf" class="btn" target="_blank">Agenda Awaete (PDF)</a>
	<a href="/assets/pdf/janeraka-belem.pdf" class="btn" target="_blank">Janeraka Belém (PDF)</a>
</section>



