	<section class="wow container" data-wow-delay="1.4s" 
	id="aboutus">
	{% if page.languages contains "pt" %}
	<h1>Sobre nós</h1>

	<p>Nem minha, nem sua, nossa Casa. Esse é o significado de Janeraka no idioma Awaete. Uma iniciativa do Instituto Janeraka formado pela família Marytykwawara da etnia Awaete - Assurini do Xingu, que traz em sua essência o fortalecimento dos povos originários e de seus territórios.</p>

	<p>Nos últimos 5 anos percorremos o Brasil com mais de 300 atividades em 4 estados com o projeto “Agenda Awaete - Troca de Saberes Assurini do Xingu / PA”, buscando ressignificar o contato através de trocas de saberes e práticas com os karai e demais povos das águas, terras e florestas.</p>
		
	<p>Com a consagração de Time’i como Pajé, retornamos ao estado do Pará e atualmente estamos focados em dois pontos que formam a infraestrutura básica de Janeraka:</p>

{% include maps.html %}


	<p>Juntos, esses dois pontos conectam a floresta e seus povos à maior capital da região e ao mundo.</p>
	
	{% else %}
	<h1>About Us</h1>
	<p class="pending">pending</p>
	{% include maps.html %}
	<p class="pending">pending</p>

	{% endif %}
</section>



