	<section class="wow container" data-wow-delay="1.4s" 
	id="aboutus">
	{% if page.languages contains "pt" %}
	<h1>Sobre nós</h1>

		<p>Nem minha, nem sua. Nossa Casa. Esse é o significado de <b>Janeraka</b> no idioma Awaete. Janeraka é, também, uma iniciativa do Instituto Janeraka (formado pela família Marytykwawara da etnia Awaete - Assurini do Xingu), que traz em sua essência o fortalecimento dos povos originários e de seus territórios.</p>

		<p>Nos últimos 5 anos percorremos o Brasil com mais de 300 atividades em 4 estados com o projeto “Agenda Awaete - Troca de Saberes Assurini do Xingu / PA”, buscando ressignificar o contato através de trocas de saberes e práticas com os karai e demais povos das águas, terras e florestas.</p>
		
		<p>Com a consagração de Time’i como Pajé, retornamos ao estado do Pará e atualmente estamos focados em dois locais que formam a infraestrutura básica de Janeraka:</p>

{% include maps.html %}


		<p>Juntos, esses dois pontos conectam a floresta e seus povos à maior capital da região e ao mundo.</p>
	
	{% else %}
	<h1>About Us</h1>
		
		<p>Neither mine nor yours. Our home. This is the meaning of <b>Janeraka</b> in the Awaete language. And Janeraka is also an initiative of the Janeraka Institute (formed by the Marytykwawara family of the Awaete ethnic group - Assurini do Xingu), which brings in its essence the strengthening of indigenous peoples and their territories.</p>
	
		<p>In the last 5 years we have traveled through Brazil facilitating more than 300 activities in 4 states with the project “Agenda Awaete - Exchange of Knowledge Assurini do Xingu / PA”. In this journey, we 	sought to reframe the contact with the karai (non-indigenous people) through exchanges of knowledge and practices between cultures.</p>
		
		<p>With Time'i's consecration as Pajé, we returned to the state of Pará and are currently focused on consolidating two locations that form the basic infrastructure of Janeraka:</p>
		
	{% include maps.html %}
		
		<p> Together, these two points connect the forest and its people to the region's largest capital and the world. </p>

	{% endif %}
</section>



