

	{% if page.languages contains "pt" %}
	
	<h1>Acolher para ser acolhido. ser acolhido para acolher!</h1>
<p>Quem já teve oportunidade de visitar os interiores, suas comunidades e aldeias, com certeza já experientou do acolhimento desses povos que são conhecidos por sua hospitalidade. O que em muitos casos garante não só nosso conforto mas principalmente a nossa sobrevivência, dependendo do território. Mas e quando precisam vir à cidade? Como essa relação de contato se dá? Onde ficam e como são assistidos nossos povos originários quando necessitam se deslocar da floresta para à cidade, em busca de acesso a serviços de cidadania e muitas vezes até sáude? Nossos povos continuam sendo traumatizados por um contato nocivo que pode ser transformado aqui e agora.</p>
<p>Pensando nisso, Time’i Assurini, Carla Romano e Sebastian Drude, no final de 2019, criam Janeraka Belém e iniciam a busca de conexões e parceiros, constelando a estrutura necessária para um melhor acolhimento para os povos da cidade à floresta.</p>
				{% else %}
			<tt>_includes/acolhimento.html</tt>
				{% endif %}