<h1>Como Ajudar</h1>

<tt>JANERAKA
mensal, tier de ajuda (amigos de, benfeitor de, etc, pense museus), explicar sorteio mensal.
pacotes: 5 mensal, 15 mensal, 25 mensal, custom mensal, custom uma vez só.</tt>

	{% if page.languages contains "pt" %}
	<h2>Newsletter</h2>

	<tt>form para newsletter</tt>
	{% else %}
	<h2>Newsletter</h2>
	<tt>form para newsletter</tt>
	{% endif %}

	{% if page.languages contains "pt" %}
	<h2>Mídia Social</h2>
	{% else %}
	<h2>Social Media</h2>
	{% endif %}
	<lite-youtube videoid="3W0WS0oYydo"></lite-youtube>
	<tt>instagram link</tt>
	