			<section class="wow container" id="chalenges">
			{% if page.languages contains "pt" %}
	<h1>Desafios da Amazônia</h1>

	<p>Assim como outros povos originários da Amazônia, nós Awaete lutamos contra invasões violentas de nossas terras, incentivadas por interesses colonialistas, extrativistas e a conivência do governo Brasileiro e parte da sociedade.</p>

	<p>O etnocídio vem ocorrendo desde o contato devido a construção da Rodovia Transamazônica, quando chegamos a 52 pessoas. E se intensificou com a construção da hidrelétrica de Belo Monte, a chegada da mineradora Belo Sun e o avanço da pecuária e o agronegócio.</p>

	<p>Como mostram os dados do <a href="https://www.socioambiental.org/pt-br/dossie-belo-monte">Dossiê Belo Monte</a>, o contato trouxe:</p>
				
	<ul>
		<li>A introdução descontrolada de alimentos industriais</li>
  		<li>Drástica redução nas práticas tradicionais, como agricultura, pesca e caça</li>
  		<li>Aumento de 127% na desnutrição infantil</li>
  		<li>Aumento de 2000% nos atendimentos de saúde na região</li>
	</ul>
				
	<p>Ao mesmo tempo, a cultura e conhecimentos tradicionais Awaete têm sofrido com assédio e deturpação por parte de grupos religiosos e acadêmicos, o que fragiliza sua estrutura social e fortalece os constantes ataques e mudanças.</p>

				{% else %}
		<h1>Amazon Challenges</h1>
	<p class="pending">pending</p>
	<p class="pending">pending</p>
	<p class="pending">pending</p>
				{% endif %}

			</section>
