			<section class="wow container" id="chalenges">
			{% if page.languages contains "pt" %}
	<h1>Desafios da Amazônia</h1>

	<p>Assim como outros povos originários da Amazônia, os Assurinis lutam contra invasões violentas de suas terras, incentivadas por interesses extrativistas e a conivência do governo Brasileiro.</p>

	<p>Tais agressões tem se intensificado com o inicio das construçoes da hidrelétrica de Belo Monte. Com a introdução descontrolada de alimentos industriais, houve uma drástica redução nas práticas tradicionais, como agricultura, pesca e caça. Com isso, a região apresenta índices de saúde
	assustadores:</p>


	<ul>
		<li>Aumento de 127% na desnutrição infantil</li>
		<li>Aumento de 2000% nos atendimentos de saúde</li>
		<li>Entrega de casas de alvenaria sem saneamento básico</li>
	</ul>

	<p>Ao mesmo tempo, sua cultura e conhecimentos tradicionais tem sofrido com assedio e deturpação por parte de grupos religiosos e acadêmicos, o que fragiliza sua estrutura social e fortalece os constantes ataques.</p>

	<p>Todos esses fenomenos são resquícios do colonialismo que ainda tentar reinar sob a Amazônia e seus povos e que ecoa atraves da narrativa do antropoceno.</p>
				{% else %}
		<h1>Amazon Challenges</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis possimus esse commodi exercitationem nostrum eos iste pariatur velit, ducimus mollitia!</p>
		<p>Voluptatum molestiae incidunt est voluptates, rerum consequuntur, cum, unde, ad ipsa rem fugit! Architecto numquam voluptatem totam, voluptate magnam voluptatibus!</p>
				{% endif %}

			</section>
