			<section class="wow container" id="chalenges">
			{% if page.languages contains "pt" %}
	<h1>Desafios da Amazônia</h1>

	<p>Assim como outros povos originários da Amazônia, nós Awaete lutamos contra invasões violentas de nossas terras, incentivadas por interesses colonialistas, extrativistas e a conivência do governo Brasileiro e parte da sociedade.</p>

	<p>O etnocídio vem ocorrendo desde o contato devido a construção da Rodovia Transamazônica, quando chegamos ao número crítico de 52 pessoas. E se intensificou com a construção da hidrelétrica de Belo Monte, a chegada da mineradora Belo Sun e o avanço da pecuária e o agronegócio.</p>

	<p>Como mostram os dados do <a href="https://www.socioambiental.org/pt-br/dossie-belo-monte">Dossiê Belo Monte</a>, esse contato tão conturbado trouxe:</p>
				
	<ul>
		<li>Introdução descontrolada de produtos industriais</li>
		<li>altas taxas de alcoolismo em nossa população</li>
  		<li>Drástica redução nas práticas tradicionais, como agricultura, pesca e caça</li>
  		<li>Aumento de 127% na desnutrição infantil</li>
  		<li>Aumento de 2000% nos atendimentos de saúde na região</li>
	</ul>
				
	<p>Ao mesmo tempo, a cultura e conhecimentos tradicionais Awaete têm sofrido com assédio e deturpação por parte de grupos religiosos e acadêmicos, o que fragiliza nossa estrutura social e fortalece os constantes ataques e mudanças.</p>

				{% else %}
		<h1>Amazon Challenges</h1>
				
	<p>Just like other peoples from the Amazon, we Awaete are fighting against violent invasions of our lands, encouraged by colonialist and extractive interests, as well by the neglect of the Brazilian government. </p>
	<p>The ethnocide has been occurring since the contact due to the construction of the Transamazônica Highway, when we reached the critical number of 52 people. And it intensified with the construction of the Belo Monte hydroelectric plant, the arrival of the mining company Belo Sun and the advance of livestock and agribusiness. </p>
	<p>As data from the <a href="https://www.socioambiental.org/pt-br/dossie-belo-monte">Belo Monte Dossier</a> show, such a careless contact has brought us: </p>
				
		<ul>
			<li> Uncontrolled introduction of industrial products </li>
			<li> High rates of alcholism in our population </li>
   			<li> Drastic reduction in traditional practices, such as agriculture, fishing and hunting </li>
   			<li> 127% increase in child malnutrition </li>
   			<li> 2000% increase in health care in the region </li>
		</ul>		
				
	<p>At the same time, traditional Awaete culture and knowledge has suffered from harassment and misrepresentation by religious and academic groups, which weakens our social structure and strengthens constant attacks and changes.</p>
				{% endif %}

			</section>
