

 	<div class="accordion" id="donation">
 		<div id="monthly" class="coins collapse show" aria-labelledby="monthly" data-parent="#donation">
 	
                      	<ul class=" monthly">
		{% for donation in site.data.donations.dollars.monthly %}
		<li>
			<a href="{{ donation.link }}" class="coin wow type-{{ donation.value }}" target="paypal" data-wow-delay="{{ donation.delay }}" >
			{% include logos/coin.svg %}
			<div class="details">
				<div class="value">{{ donation.value }}</div>
				<span class="type">/mo</span>
			</div>
		</a>
		</li>
		{% endfor %}
</ul>
<div class="actions wow" data-wow-delay="1200ms">
	<a href="#" data-toggle="collapse" data-target="#single" aria-expanded="false" aria-controls="single">I prefer to donate a single time</a>  <a href="#" data-toggle="collapse" data-target="#transferwise" aria-expanded="true" aria-controls="transferwise">Use Transferwise instead</a>
</div>
 		</div>
 		<div id="single" class="coins collapse" aria-labelledby="single" data-parent="#donation">
 	   	<ul class="single">
		{% for donation in site.data.donations.dollars.single %}
		<li>
			<a href="{{ donation.link }}" class="coin wow type-{{ donation.value }}" target="paypal" data-wow-delay="{{ donation.delay }}" >
			{% include logos/coin.svg %}
			<div class="details">
				<div class="value">{{ donation.value }}</div>
			</div>
		</a>
		</li>
		{% endfor %}
</ul>
 		<div class="actions wow" data-wow-delay="1200ms">
 			<a href="#" data-toggle="collapse" data-target="#monthly" aria-expanded="true" aria-controls="monthly">I prefer to donate monthly</a> <a href="#" data-toggle="collapse" data-target="#transferwise" aria-expanded="true" aria-controls="transferwise">Use Transferwise instead</a>
 		</div>

 		</div>
<div id="transferwise" class="coins collapse" aria-labelledby="transferwise" data-parent="#donation">
 <a href="https://www.transferwise.com/" class="btn" target="_blank">TransferWise</a>
				<p>
					Time'i Assurini<br>
					
					{% if page.languages contains "pt" %}
					Banco Bradesco<br>
					Ag: 5592<br>
					Conta Poupança: 1000057-2<br>
					{% else %}
					Bradesco Bank<br>
					Routing: 5592<br>
					Savings Acct: 1000057-2<br>
					{% endif %}
					CPF 70365335282<br>
					Tv. 3 de Maio, 1040 - São Brás, Belém/PA <br>
					CEP: 66063-388<br>
					Cel: 21 987999912
				</p>	
	<div class="actions">
 			<a href="#" data-toggle="collapse" data-target="#monthly" aria-expanded="true" aria-controls="monthly">Use PayPal instead</a>
 		</div>
 		</div>
 	</div>
 	<div class="vendors wow" data-wow-delay="1200ms">
 		{% include logos/vendors.svg %}
 	</div>
