{% if page.languages contains "pt" %}
		<h3>Contato</h3>
 			<p>Fale conosco via:</p>
 			<ul>
 				<li><a href="mailto:info@janeraka.org?subject=Instituto Janeraka">
 			  <i class="fa fa-envelope-o"></i>info@janeraka.org</a></li>
 			
	{% else %}
		<h3>Contact Us</h3>
 		<p>Talk to us via:</p>
 			<ul>
 				<li><a href="mailto:info@janeraka.org?subject=Janeraka Institute">
 			  <i class="fa fa-envelope-o"></i>info@janeraka.org</a></li>
	{% endif %}
		<li>+55 21 98799 9912</li>
 				<li>+55 21 97261 6638 <span class="notes">(whatsapp)</span></li>
 			</ul>
 			