<h1>Desafios da Amazônia</h1>

<p>Assim como outros povos originarios da Amazonia, os Assurinis lutam contra invasoes violentas de suas terras, incentivadas por interesses extrativistas e a conivencia do governo do Brasileiro.</p>

<p>Tais agressoes tem se intensificado desde X, com o inicio das construçoes da hidreletrica de Belo Monte. Com a introduçao descontrolada de alimentos industriais, houve uma drastica reduçao nas praticas tradicionais, como agricultura, pesca e caça. Com isso, a regiao apresenta indices de saude
assustadores:</p>


<ul>
	<li>Aumento de 127% na desnutriçao infantil.</li>
	<li>Aumento de 2000% nos atendimentos de saude.</li>
	<li>Entrega de casas de alvenaria sem saneamento basico.</li>
	<li><tt>fonte</tt></li>
</ul>

<p>Ao mesmo tempo, sua cultura e conhecimentos tradicionais tem sofrido com assedio e deturpaçao por parte de grupos religiosos e academicos, o que fragiliza sua estrutura social e fortalece os constantes ataques.</p>

<p>Todos esses fenomenos sao resquicios do colonialismo que ainda tentar reinar sob a Amazonia e seus povos e que ecoa atraves da narrativa do antropoceno.</p>