
<div id="donations">

	{% if page.languages contains "pt" %}
	pending
	{% else %}
	<h2 class="wow">Donations</h2>
	<div class="description wow">
		<p>We hope you consider supporting our organization and our cause</p>
		<p>It is of utmost importance that we gather all possible resources and forces to protect our endangered Amazon and its ancestral peoples.</p>
	</div>


 	<div class="accordion" id="donation">
 		<div id="monthly" class="coins collapse show" aria-labelledby="monthly" data-parent="#donation">
 	
                      	<ul class=" monthly">
		{% for donation in site.donations.monthly-en %}
		<li>
			<a href="{{ donation.link }}" class="coin wow type-{{ donation.value }}" target="paypal" data-wow-delay="{{ donation.delay }}" >
			{% include logos/coin.svg %}
			<div class="details">
				<div class="value">{{ donation.value }}</div>
				<span class="type">/mo</span>
			</div>
		</a>
		</li>
		{% endfor %}
</ul>
<a href="#" data-toggle="collapse" data-target="#single" aria-expanded="false" aria-controls="single" class="wow">I prefer to donate a single time only</a>
 		</div>
 		<div id="single" class="coins collapse" aria-labelledby="single" data-parent="#donation">
 	   	<ul class="single">
		{% for donation in site.donations.single-en %}
		<li>
			<a href="{{ donation.link }}" class="coin wow type-{{ donation.value }}" target="paypal" data-wow-delay="{{ donation.delay }}" >
			{% include logos/coin.svg %}
			<div class="details">
				<div class="value">{{ donation.value }}</div>
			</div>
		</a>
		</li>
		{% endfor %}
</ul>
 		<a href="#" data-toggle="collapse" data-target="#monthly" aria-expanded="true" aria-controls="monthly" class="wow">I prefer to donate monthly</a>
 		</div>

 	</div>
 	<div class="vendors wow">
 		{% include logos/vendors.svg %}
 	</div>

            


	{% endif %}


</div>



