
<div id="donations" class="wow">
{% if page.languages contains "pt" %}
<h2>Doação</h2> 
		<p>Devido a essas circunstâncias, existe uma grande urgência do Povo Awaete em reestruturar seu território, se capacitando para a nova realidade da etnia e seus desafios.</p>
		<p>Assim, o projeto Janeraka (com seus dois pontos físicos de acolhimento) é de essencial importância para as demandas Awaete. E dado o descaso que sofremos das instituições "responsáveis" pela causa indígena, recorremos às redes em busca de apoio financeiro para garantir a manutenção, logística e dignidade da equipe que tem dado o seu melhor para continuar na resistência.</p> 
<div class="grid">
	<div class="paypal">
		<h4>Doação via Paypal</h4> 
		<ul class="actions">
	<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=H6V535GYG76ME" target="doacao" class="btn">Doação Única</a></li>
<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ST6Y4527MTQR4" target="doacao" class="btn">Doação Mensal</a></li>
</ul>
	</div>
	<div class="bancaria">
		<h4>Doação Bancária</h4> 
		<ul class="actions">
	<li>Instituto Janeraka Fortalecimento da Cultura Tradicional Awaete Assurini do Xingu Troca de Saberes Praticas com Povos das Aguas Terras e Floresta</li>
<li><strong>Cnpj:</strong> 35069094/0001-30</li>
<li><strong>Banco:</strong> 290 - PagSeguro Internet S.A.</li>
<li><strong>Ag:</strong> 0001</li>
<li><strong>C/C:</strong> 11650814-4</li>
</ul>
	</div>
</div>


		{% else %}

		<h2>Donation</h2> 
		<p>Due to these circumstances, we have a great urgency to restructure our territory, enabling us to face the new reality and challenges of the Awaete ethnic group.</p>
		<p>Thus, the Janeraka project (with its two physical reception points) is of key importance for Awaete demands. And given the neglect that we suffer from the institutions "responsible" for the indigenous cause, we turn to the networks for financial support to ensure the maintenance, logistics and dignity of the team that has been doing its best to continue in the resistance.</p>

		<div class="grid">
	<div class="paypal">
		<h4>Paypal Donation</h4> 
<ul class="actions">
	<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TVQVB9VXCRJWL" target="doacao" class="btn">Single Donation</a></li>
<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UK8YAG3RWKX7E" target="doacao" class="btn">Monthly Donation</a></li>
</ul>
	</div>
	<div class="bancaria">
		<h4>Bank Account</h4> 
		<ul class="actions">
	<li>Instituto Janeraka Fortalecimento da Cultura Tradicional Awaete Assurini do Xingu Troca de Saberes Praticas com Povos das Aguas Terras e Floresta</li>
<li><strong>Cnpj:</strong> 35069094/0001-30</li>
<li><strong>Banco:</strong> 290 - PagSeguro Internet S.A.</li>
<li><strong>Ag:</strong> 0001</li>
<li><strong>C/C:</strong> 11650814-4</li>
</ul>
	</div>
</div>

	{% endif %}
		
		
</div>



