
<div id="donations" class="wow">
{% if page.languages contains "pt" %}
<h2>Doação</h2> 
		<p>Devido a essas circunstâncias, existe uma grande urgência do Povo Awaete em reestruturar seu território, se capacitando para a nova realidade da etnia e seus desafios.</p>
		<p>Assim, o projeto Janeraka (com seus dois pontos físicos de acolhimento) é de essencial importância para as demandas Awaete. E dado o descaso que sofremos das instituições "responsáveis" pela causa indígena, recorremos às redes em busca de apoio financeiro para garantir a manutenção, logística e dignidade da equipe que tem dado o seu melhor para continuar na resistência.</p> 
<ul class="actions">
	<li><a href="/doacao/" target="doacao" class="btn">Doação Única<span>via paypal</span></a></li>
<li><a href="/doacao/mensal/" target="doacao" class="btn">Doação Mensal<span>via paypal</span></a></li>
</ul>
		{% else %}

		<h2>Donation</h2> 
		<p>Due to these circumstances, we have a great urgency to restructure our territory, enabling us to face the new reality and challenges of the Awaete ethnic group.</p>
		<p>Thus, the Janeraka project (with its two physical reception points) is of key importance for Awaete demands. And given the neglect that we suffer from the institutions "responsible" for the indigenous cause, we turn to the networks for financial support to ensure the maintenance, logistics and dignity of the team that has been doing its best to continue in the resistance.</p>
<ul class="actions">
	<li><a href="/donation/" target="doacao" class="btn">Single Donation<span>via paypal</span></a></li>
<li><a href="/donation/monthly/" target="doacao" class="btn">Monthly Donation<span>via paypal</span></a></li>
</ul>
	{% endif %}
		
		
</div>



