
<div id="donations">

{% if page.languages contains "pt" %}
pending
{% else %}
<h2 class="wow">Donations</h2>
<div class="description wow">
	<p>We hope you consider supporting our organization and our cause</p>
<p>It is of utmost importance that we gather all possible resources and forces to protect our endangered Amazon and its ancestral peoples.</p>
</div>
<div class="coins">
	{% for donation in site.donations.monthly-en %}
<a href="{{ donation.link }}" class="coin wow" target="paypal" data-wow-delay="{{ donation.delay }}" >
			{% include logos/coin.svg %}
			<div class="value">
				${{ donation.value }}
		<span>/mo</span>
			</div>
	</a>
{% endfor %}
	<div class="custom">
		<input type="text">
		<a href="#" class="btn">Donate</a>
	</div>
</div>

{% endif %}


</div>



