
<div id="donations">
	<div class="wow">
		<h2>Doação</h2> 
		<p>Devido a essas circumstâncias, existe uma grande urgência do Povo Awaete em reestruturar seu território, se capacitando para a nova realidade da etnia e seus desafios.</p>
		<p>Assim, o projeto Janeraka (com seus dois pontos físicos de acolhimento) é de essencial importância para as demandas Awaete. E dado o descaso que sofremos das instituições "responsávei" pela causa indígena, recorremos às redes em busca de apoio financeiro.</p>
		<ul class="grid">
			<li>
				<a href="https://www.xoom.com/" class="btn" target="_blank">Xoom</a>
				<p>
					Time'i Assurini<br>
					
					{% if page.languages contains "pt" %}
					Banco Bradesco<br>
					Ag: 5592<br>
					Conta Poupança: 1000057-2<br>
					{% else %}
					Bradesco Bank<br>
					Routing: 5592<br>
					Savings Acct: 1000057-2<br>
					{% endif %}
					CPF 70365335282<br>
					Tv. 3 de Maio, 1040 - São Brás, Belém/PA <br>
					CEP: 66063-388<br>
					Cel: 21 987999912
				</p>	
			</li>

			<li>
				<a href="https://cnpj.biz/35069094000130" class="btn" target="_blank">CNPJ</a>
				<p>35069094000130</p>
			</li>
			<li>
				<a href="https://www.paypal.com/" class="btn disabled" target="_blank">PayPal</a>
				<p>
	<!-- 		{{ site.email }}
		<span class="notes">Escolha <strong>Amigos e Família</strong></span> -->
		{% if page.languages contains "pt" %}
		<span class="notes">em breve</span>
			<!-- 		{{ site.email }}
		<span class="notes">Escolha <strong>Amigos e Família</strong></span> -->
		{% else %}
		<span class="notes">soon</span>
			<!-- 		{{ site.email }}
		<span class="notes">Choose <strong>Friends and Family</strong></span> -->
		{% endif %}
	</p>

</li>
</ul>
</div>
</div>



