 <div class="divider wow" data-wow-offset="0"></div>

 
 <footer class="footer wow" data-wow-offset="0">
 	<div class="container">
<!--  		<a href="/pt/nos">Sobre Nós</a>
 	<a href="/pt/rede">Nossa Rede</a>
 	<a href="/pt/glossario">Glossário</a>
 	<a href="/pt/decolo">Manifesto Decolonialista</a>
 	<a href="/pt/imprensa">Imprensa</a>
 	<a href="/pt/contato">Contato</a> -->


 	<div class="menu">
 		<a href="#" data-toggle="collapse" data-target="#imprensa" aria-expanded="true" aria-controls="imprensa">{% if page.languages contains "pt" %}Imprensa{% else %}Press{% endif %}</a>
 		<a href="#" data-toggle="collapse" data-target="#contato" aria-expanded="false" aria-controls="contato">{% if page.languages contains "pt" %}Contato{% else %}Contact Us{% endif %}</a>
 		<a href="#" data-toggle="collapse" data-target="#creditos" aria-expanded="false" aria-controls="creditos">{% if page.languages contains "pt" %}Créditos{% else %}Credits{% endif %}</a>
 	</div>
 	<div class="accordion" id="footer">
 		<div id="imprensa" class="collapse" aria-labelledby="headingOne" data-parent="#footer">
 	
 	{% include imprensa.html %}
 		</div>
 		<div id="contato" class="collapse" aria-labelledby="headingTwo" data-parent="#footer">
 		{% include contato.html %}
 		</div>
 		<div id="creditos" class="collapse" aria-labelledby="headingThree" data-parent="#footer">
 			{% include creditos.html %}
 		</div>
 	</div>
 </div>
</footer>