 <div class="divider"></div>
 <footer class="footer wow">
 	<div class="container">
<!--  		<a href="/pt/nos">Sobre Nós</a>
 	<a href="/pt/rede">Nossa Rede</a>
 	<a href="/pt/glossario">Glossário</a>
 	<a href="/pt/decolo">Manifesto Decolonialista</a>
 	<a href="/pt/imprensa">Imprensa</a>
 	<a href="/pt/contato">Contato</a> -->

<div class="menu"> 	<a href="#" data-toggle="collapse" data-target="#imprensa" aria-expanded="true" aria-controls="imprensa">
 		Imprensa
 	</a>
 	<a href="#" data-toggle="collapse" data-target="#contato" aria-expanded="false" aria-controls="contato">
 		Contato
 	</a>
 	<a href="#" data-toggle="collapse" data-target="#creditos" aria-expanded="false" aria-controls="creditos">
 		Creditos
 	</a></div>
 	<div class="accordion" id="footer">
 		<div id="imprensa" class="collapse" aria-labelledby="headingOne" data-parent="#footer">
 			<h3>Imprensa</h3>
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor temporibus eligendi ipsum dicta odio sequi vero! Odit, cupiditate, fugiat. Rem.</p>
 		</div>
 		<div id="contato" class="collapse" aria-labelledby="headingTwo" data-parent="#footer">
 			<h3>Contato</h3>
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores veritatis laudantium, aperiam aspernatur nisi esse molestiae alias natus velit neque.</p>
 		</div>
 		<div id="creditos" class="collapse" aria-labelledby="headingThree" data-parent="#footer">
 			<h3>Créditos</h3>
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quasi, omnis. Nesciunt facilis similique optio maiores et labore debitis ratione.</p>
 		</div>
 	</div>
 </div>
</footer>