 <div class="divider wow" data-wow-offset="0"></div>

 
 <footer class="footer wow" data-wow-offset="0">
 	<div class="container">
<!--  		<a href="/pt/nos">Sobre Nós</a>
 	<a href="/pt/rede">Nossa Rede</a>
 	<a href="/pt/glossario">Glossário</a>
 	<a href="/pt/decolo">Manifesto Decolonialista</a>
 	<a href="/pt/press">Imprensa</a>
 	<a href="/pt/contact">Contato</a> -->


 	<div class="menu">
 		<a href="#" class="to-bottom" data-toggle="collapse" data-target="#press" aria-expanded="true" aria-controls="press">{% if page.languages contains "pt" %}Imprensa{% else %}Press{% endif %}</a>
 		<a href="#" class="to-bottom" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="contact">{% if page.languages contains "pt" %}Contato{% else %}Contact Us{% endif %}</a>
 		<a href="#" class="to-bottom" data-toggle="collapse" data-target="#gratitude" aria-expanded="false" aria-controls="gratitude">{% if page.languages contains "pt" %}Gratitude{% else %}Gratidão{% endif %}</a>
 	</div>
 	<div class="accordion" id="footer">
 		<div id="press" class="collapse" aria-labelledby="press" data-parent="#footer">
 	
 	{% include press.html %}
 		</div>
 		<div id="contact" class="collapse" aria-labelledby="contact" data-parent="#footer">
 		{% include contact.html %}
 		</div>
 		<div id="gratitude" class="collapse" aria-labelledby="gratitude" data-parent="#footer">
 			{% include gratitude.html %}
 		</div>
 	</div>
 </div>
</footer>