

{% if page.languages contains "pt" %}
<h3>Gratidão</h3>
{% else %}
<h3>Gratitude</h3>
{% endif %}
<ul class="member">
{% for member in site.data.team %}
<li><strong>{{ member.name }}</strong> 
	<br>
{% if page.languages contains "pt" %}
	{{ member.role.pt }}
	{% else %}
	{{ member.role.en }}
	{% endif %}
	<ul class="links">
		{% if member.email %}<li><a href="mailto:{{ member.email }}?subject=Janeraka">email</a></li>{% endif %}
		{% for group in member.social %}<li><a href="{{ group.url }}" target="{{ group.name }}">{{ group.name }}</a></li>{% endfor %}
	</ul>
</li>
{% endfor %}
</ul>
