

			{% if page.categories contains "home" %}
				<a href="/" class="logo">
					<div class="wow" data-wow-delay="0">
						{% include logos/grid.svg %}
					</div>
				<div class="wow" data-wow-delay=".2s">
				<h1>{{ site.title }}</h1>
					</div>
					<div class="wow" data-wow-delay=".4s">
				{% include logos/divider-1.svg %}
					</div>
					<div class="wow" data-wow-delay=".6s">
			{% if page.languages contains "pt" %}
				<h2>{{ site.description.pt }}</h2>
				{% else %}
				<h2>{{ site.description.en }}</h2>
				{% endif %}
					</div>
				
			</a>
				{% else %}
				<a href="/" class="logo small">
				{% include logos/grid.svg %}
				<h1>{{ site.title }}</h1>
			
			</a>
				{% endif %}