

	<ul class="maps">

			<li>
				<a data-toggle="popover" class="map1" href="javascript: void(0)" data-html="true" data-content='
<div class="map map1"></div>
				<a target="map" href="https://www.google.com/maps?ll=-4.319044,-52.284517&z=8&t=m&hl=en&gl=BR&mapclient=embed&q=Koatinemo+Altamira+-+State+of+Par%C3%A1" class="btn btn-small">{% if page.languages contains "pt" %}Abrir o mapa{% else %}Open map{% endif %}</a>
					<a target="map" class="btn btn-small" href="https://terrasindigenas.org.br/pt-br/terras-indigenas/3733">
{% if page.languages contains "pt" %}Sobre Koatinemo{% else %}About Koatinemo (in pt){% endif %}
	</a>'
					' data-placement="right"><strong>Janeraka Aldeia</strong> - Terra Indígena Koatinemo</a>
			</li>
		<li><a data-toggle="popover" class="map2" href="javascript: void(0)" data-html="true" data-content='
			<div class="map map2"></div><a target="map" href="https://www.google.com/maps/place/Tv.+Tr%C3%AAs+de+Maio,+1040+-+S%C3%A3o+Br%C3%A1s,+Bel%C3%A9m+-+PA,+66063-390/@-1.4489218,-48.5093942,13z/data=!4m5!3m4!1s0x92a48c26bab61229:0x87394ed6903fb450!8m2!3d-1.4489272!4d-48.4743753?hl=en" class="btn btn-small">	{% if page.languages contains "pt" %}Abrir o mapa{% else %}Open map{% endif %}</a>' data-placement="right"><strong>Janeraka Belém</strong> - Belém / PA</a></li>
	</ul>



