	<section class="wow container" 	 id="mission">
				{% if page.languages contains "pt" %}

	
<h1>Nossa Missão</h1>

<!-- <p>Despertar da consciência humana a partir da reconexão com os povos das águas, terras e floresta da Amazônia através da criação de espaços de convivência e troca de saberes e práticas.</p>
<p>Unindo povos da floresta e os <em>karai</em> em espaços de convivência e troca de saberes, em prol Amazonia e sua ancestralidade.</p> -->
<blockquote>Tecer espaços de convivência e troca de saberes entre os povos da floresta e os <em>karai</em>, em prol da Amazônia e sua ancestralidade.</blockquote>
{% else %}
<h1>Our Mission</h1>
<blockquote>To weave spaces of conviviality and sharing of knowledge between people of the forest and the <em>karai</em>, for the benefit of Amazon and its ancestry.</blockquote>
{% endif %}
</section>