
		{% if page.languages contains "pt" %}
		<h3>Imprensa</h3>
<p>Mais informações sobre o projeto podem ser lidas via pdfs:</p>
<ul>
	<li>	<a href="/assets/pdf/agenda-awaete.pdf" target="_blank">Agenda Awaete</a></li>
				<li><a href="/assets/pdf/janeraka-belem.pdf" target="_blank">Janeraka Belém</a></li>
</ul>
 			<p>Para mais informações, contate-nos via email
 			<a href="mailto:info@janeraka.org?subject=Contato Janeraka">
 			  <i class="fa fa-envelope-o"></i>info@janeraka.org</a> ou celular: 21 987999912</p>
	{% else %}
		<h3>Press</h3>
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor temporibus eligendi ipsum dicta odio sequi vero! Odit, cupiditate, fugiat. Rem.</p>
	{% endif %}