
		{% if page.languages contains "pt" %}
		<h3>Imprensa</h3>
<p>Mais informações sobre o projeto podem ser lidas via pdfs:</p>
<ul>
	<li>	<a href="/assets/pdf/agenda-awaete.pdf" target="_blank">Agenda Awaete</a></li>
				<li><a href="/assets/pdf/janeraka-belem.pdf" target="_blank">Janeraka Belém</a></li>
</ul>
 			<p>Para mais informações, contate-nos via
 			<a href="mailto:info@janeraka.org?subject=Instituto Janeraka">
 			  <i class="fa fa-envelope-o"></i>info@janeraka.org</a> ou celular: 21 987999912</p>
	{% else %}
		<h3>Press</h3>
 		<p>More information about the project can be read via PDFs:</p>
 		<p class="notes">(In brazilian portuguese, translation coming soon)</p>
<ul>
	<li>	<a href="/assets/pdf/agenda-awaete.pdf" target="_blank">Agenda Awaete</a></li>
				<li><a href="/assets/pdf/janeraka-belem.pdf" target="_blank">Janeraka Belém</a></li>
</ul>
 			<p>For more information, talk to us via
 			<a href="mailto:info@janeraka.org?subject=Janeraka Institute">
 			  <i class="fa fa-envelope-o"></i>info@janeraka.org</a> or cellphone 21 987999912</p>
	{% endif %}