{% if page.languages contains "pt" %}
<h1>Quem Somos</h1>

<p>Janeraka ("Nossa Casa" na lingua Awaete) é uma iniciativa dos Assurinis do Xingu que busca estabelecer conexoes entre os povos da floresta e os <em>karai</em> ("nao indígenas") atraves de Trocas de Saberes. O projeto traz em sua essência o fortalecimento dos povos originários e de seus territórios.</p>

<p>Atualmente, dois pontos físicos na região norte do Brasil formam a infraestrutura básica de Janeraka:</p>

<ul>
	<li><strong>Janeraka Aldeia 2 Pages</strong> - Terra Indígena Koatinemo</li>
<!-- 	<li><strong>Janeraka Altamira</strong> - Altamira / PA</li> -->
	<li><strong>Janeraka Belém</strong> - Belém / PA</li>
</ul>

<p>Conectando a floresta e seus povos com a principal cidade de acesso ao Xingu, com a capital regional e o mundo.</p>

<p>Agora, existe uma grande urgência do Povo Awaete em reestruturar seu território, se capacitando para a nova realidade da etnia e seus desafios.</p>
{% else %}
<tt>_includes/quemsomos.html</tt>
{% endif %}



