<div id="social" class="wow">
		{% if page.languages contains "pt" %}
		<div class="podcast wow">
					<h2>Podcast da etnia Awaete</h2>
			
			<ul class="grid">
				<li><a href="https://www.anchor.fm/janeraka" target="podcast"><img src="/assets/images/podcast.jpg" alt=""></a>
			</li>
				<li><p><strong>Assurini do Xingu selecionado em chamada internacional de Direitos Humanos</strong></p>
					<p>Através dos contos de criação e fins de mundos Awaete, o Pajé Time i Assurini aborda o momento atual de pandemia do coronavírus, as crise mundiais e a experiência de seu povo frente aos desafios, nos mostrando que sempre é possível encontrar caminhos para regenerar futuros.</p>
					<a href="https://www.anchor.fm/janeraka" class="btn" target="podcast">visit podcast</a>
				</li>
			</ul>
		
					


</div>
			<h2>Siga-nos nas mídias sociais</h2>
			
			{% else %}
				<div class="podcast wow">
					<h2>Podcast of the Awaete ethnic group</h2>
			
			<ul class="grid">
				<li><a href="https://www.anchor.fm/janeraka" target="podcast"><img src="/assets/images/podcast.jpg" alt=""></a>
			</li>
				<li><p><strong>Assurini do Xingu selected in international call for Human Rights</strong></p>
					<p>Through tales of creation and ends of worlds Awaete, Pajé Time Assurini addresses the current moment of the coronavirus pandemic, the world crises and the experience of its people in the face of challenges, showing us that it is always possible to find ways to regenerate futures.</p>
					<a href="https://www.anchor.fm/janeraka" class="btn" target="podcast">visit podcast</a>
				</li>
			</ul>
		
					


</div>
			<h2>Follow us on social media</h2>
	
			{% endif %}
			<div class="social">
		{% for social in site.data.social %}
	<a href="{{ social.link }}" target="{{ social.name }}" data-toggle="tooltip" data-placement="top" title="{{ social.name }}" style="background-image: url('/assets/logos/{{ social.name }}.svg')">
	</a>




		{% endfor %}

	</div>

		</div>