$coin: 100px;



.coins {
	display: grid;
	padding: $gap2 0;
	grid-gap: $gap;
	grid-template-columns: $coin $coin $coin 1fr;
	.coin {
		&.wow {
			@include fade($y: 50px);
			svg {
				#shine-1, #shine-2 {
					fill: rgba(white, .25);
				}
			}
			&:nth-of-type(1) svg {
				#shine-1, #shine-2 {
					@include fadeIn($delay: $stagger * 5);
				}
			}
			&:nth-of-type(2) svg {
				#shine-1, #shine-2 {
					@include fadeIn($delay: $stagger * 6);
				}
			}
			&:nth-of-type(3) svg {
				#shine-1, #shine-2 {
					@include fadeIn($delay: $stagger * 7);
				}
			}
		}
		font-family: monument;
		width: $coin;
		height: $coin;
		display: block;
		text-align: center;
		text-decoration: none;
		.value {
			font-size: 20px;
			line-height: 100%;
			font-size: 20px;
			line-height: 100%;
			width: $coin;
			height: $coin;
			padding-top: $coin / 3;
			@include radius(50%);
			margin-top: -$coin;
			@include transition;
			@include shadow(text, 0 -1px 0px lighten($color-orange, 20%));
			@include shadow(box, 0 4px 0 rgba(black, .1));

		}
		&:hover {
			.value	{
				padding-top: ($coin / 3)- 3;
				@include shadow(box, 0 20px 10px rgba(black, .07));
			}
			svg {

				
				#shine-1, #shine-2 {
					fill: rgba(white, .2);
				}
				#glimmer-1, #glimmer-2, #glimmer-3 {
					fill: rgba(white, 1);
					@include fade($y: 35px);
				}
				#rim {
					fill: $color-brown;
				}
				#bg {
					fill: rgba($color-orange, 80%);
				}
			}
		}

		svg {
			width: $coin;
			height: $coin;
			#glimmer-1, #glimmer-2, #glimmer-3 {
				fill: rgba(white, 0);
			}
			path, circle {
				@include transition;
			}
			#inside {
				display: none;
			}

		}
		span {
			font-size: 15px;
			display: block;
		}

	}
}