$coin: 100px;
.vendors {
	text-align: right;
	padding-bottom: $gap2;
	@media (max-width: $screen-small) {
		text-align: left;
	}

}
.coins {
	@include reset(list);
	&:not(#transferwise) {
		text-align: center;
	}

	margin: 0;
	padding-top: $gap;
	.actions {
		text-align: right;
		a {
		font-size: 80%;
		margin-left: 10px;
	}
	@media (max-width: $screen-small) {
		text-align: left;
		a {
			display: block;
			margin: 0;
		}
		
	}
	}
	li {
		display: inline-block;
	}
	&#single  .details {

		padding-top: 42px;
	}
	&#monthly  .details {

		padding-top: 32px;
	}
	.coin {
		&.wow {
			svg {
				#shine-1, #shine-2 {
					fill: rgba(white, .25);
				}
			}
			
		}
		font-family: monument;
		width: $coin;
		height: $coin;
		display: block;
		margin: 0 5px;
		@media (max-width: $screen-small) {
			margin: 5px;
		}
		text-align: center;
		text-decoration: none;
		.details {
			line-height: 130%;
			width: $coin;
			height: $coin;
			@include radius(50%);
			margin-top: -$coin;
			@include transition;
			@include shadow(text, 0 -1px 0px lighten($color-orange, 20%));
			@include shadow(box, 0 4px 0 rgba(black, .1));
			.value {
				font-size: 23px;
				display: block;

			}
			.type {
				font-size: 15px;
				display: block;
			}
		}
		&.type-custom, &.type-manual {
			.value {
				font-size: 15px;
				line-height: 100%;
			}
		}
		&:not(.type-custom):not(.type-manual) .value:before {
					content: "$";
				}
		&:hover {
			.details	{
				@include shadow(box, 0 20px 10px rgba(black, .07));
			}
			svg {

				
				#shine-1, #shine-2 {
					fill: rgba(white, .2);
				}
				#glimmer-1, #glimmer-2, #glimmer-3 {
					fill: rgba(white, 1);
					@include fade($y: 35px);
				}
				#rim {
					fill: $color-brown;
				}
				#bg {
					fill: rgba($color-orange, 80%);
				}
			}
		}

		svg {
			width: $coin;
			height: $coin;
			#glimmer-1, #glimmer-2, #glimmer-3 {
				fill: rgba(white, 0);
			}
			path, circle {
				@include transition;
			}
			#inside {
				display: none;
			}

		}
		

	}
}