footer.footer {

	.menu {
		padding: $gap;
		text-align: center;
		a:not(:first-of-type) {
			margin-left: $gap;
		}
	}

}


ul.member {
	@include reset(list);
	@include reset(all);
	display: grid;
	grid-template-columns: 1fr 1fr;
	@media (max-width: $screen-small) {
		grid-template-columns: 1fr;
	}
	grid-gap: $gap;
	

ul.links {
	@include reset(all);
	@include reset(list);
	li {
		display: inline-block;
			&:not(:last-of-type):after {
				content: ",";
				margin-right: 5px;
			}

	}

}
}



.collapse {
	margin-bottom: $gap;

}