.indicates-required {
	font-size: 13px;
	color: #666;
	float: right;
	margin-top: -$gap3;
}

article.form {
	display: grid;
	padding: $gap 0;
	grid-gap: $gap;
	grid-template-columns: repeat(2, 1fr);
	@media (max-width: $bp) {
		grid-template-columns: 1fr;
	}
}

select, input {
	border: solid 1px #999;
	padding: $gaphalf $gap;
	&:not([type=submit]) {
		width: 100%;
	}
	@include transition;
	&:hover {
		border-color: #666;
	}
}


.btn, input[type=submit]  {
	padding: $gaphalf $gap2;
	background-color:  $color-orange;
	color: $color-brown;
	@include transition;
	border: none;
	text-decoration: none;
	border-radius: 0;
	margin-bottom: $gaphalf;
	font-family: monument;
		@media (max-width: $bp) {
		display: block;
	}
	text-transform: uppercase;
	&:not(.disabled) {
		@include shadow(box, 0 4px 0px rgba(0, 0, 0, 0.1));
	&:hover {
	@include shadow(box, 0 5px 5px rgba(black, .2));
		background-color:  $color-red;
		color: white;

	}
	}
}

.custom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $gaphalf;
	input {
		background-image: url(/assets/images/cypher.svg);
		background-repeat: no-repeat;
		background-position: 10px center;
		padding-left: $gap + $gaphalf;
		height: 45px;
	}
	input, .btn {
		height: 45px;
	}
	.btn {
		padding-left: $gap;
		padding-right: $gap;
	}
}