

$delay: 300ms;

$gap: 15px;
$gap2: $gap * 2;
$gap3: $gap * 3;
$gap4: $gap * 4;
$gap5: $gap * 5;
$gap6: $gap * 6;
$gap7: $gap * 7;
$gap8: $gap * 8;
$gap9: $gap * 9;
$gap10: $gap * 10;

$borders: $gap2;