$color-red: #CD4842;
$color-brown: #481511;
$color-orange: #E3983E;
$color-red: #CD4842;
$color-blue: #65B3EF;
$color-gray: #ccc;


$delay: 300ms;

$gap: 15px;
$gap2: $gap * 2;
$gap3: $gap * 3;
$gap4: $gap * 4;
$gap5: $gap * 5;
$gap6: $gap * 6;
$gap7: $gap * 7;