.gallery {
 line-height: 0;
 margin: $gap3 0;
 column-gap: 0px;

 -moz-column-count: 3;
 -webkit-column-count: 3;
 column-count: 3;

 @media (max-width: 1200px) {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; 
}
 @media (max-width: $bp) {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1; 
}
visibility: hidden; 
/* Prevents :hover from triggering in the gaps between items */

$scaledown: .8;
$scaleup: 1.2;
$rotaterange: 5;

&:hover > img { 
  opacity: 0.6; 
  /* different times so its diff numbers per each, each time. i know. */
 &:nth-of-type(1):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
  &:nth-of-type(2):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }  
 &:nth-of-type(3):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
   &:nth-of-type(4):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
    &:nth-of-type(5):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
    &:nth-of-type(6):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
    &:nth-of-type(7):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
    &:nth-of-type(8):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
    &:nth-of-type(9):not(:hover) {
   transform: rotate(#{randomNum(-$rotaterange, $rotaterange)}deg) scale($scaledown);
 }
}
& > img {
  width: 100% !important;
  height: auto !important;
  border: solid 0px white;
  @include transition;
  cursor: pointer;
  visibility: visible; 
  /* Brings the child items back in, even though the parent is `hidden` */
  @include shadow(box, 0 4px 0px rgba(0, 0, 0, 0));
  &:hover {
    @include shadow(box, 0 5px 10px rgba(black, .3));
    opacity: 1; 
      border: solid 10px white;
    transform: scale($scaleup);
    z-index: 1000; 
    /* Fade in the currently hovered item */
  }
}
}





