



header.main {
	background-image: url('/assets/images/header.jpg');
	background-size: cover;
	background-position: right bottom;

	padding: $gap 0;
	margin-bottom: $gap3;
	.container {
		display: flex;
		height: 350px;
		align-items: flex-end;
		justify-content: right;

	}

}