



header.main {
	background-image: url('/assets/images/header.jpg');
	background-size: cover;
	background-position: right bottom;

	padding: $gap 0;
	margin-bottom: $gap3;
	background-color: #eee;
	.container {
		text-align: right;
		a.logo {
			display: inline-block;
			margin-top: 80px;
			&.small {
				margin-top: 0;
			}
		}
	}

}