@include font-face(monument);

.wow {
	@include fadeInUp;
}

html {
	scroll-behavior: smooth;
}


body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	@media (min-width: $screen-small) {
		font-size: 16px;
	}
}

.notes {
	font-style: italic;
	font-size: 80%;
	display: block;
}

h1, h2, h3, h4 {
	font-family: monument;
	text-transform: uppercase;

	color: $color-brown;	
}

@media (max-width: $screen-small) {
	h1 {
		font-size: $font-size;
	}
	h2 {
		font-size: $font-size * .9;
	}
	h3 {
		font-size: $font-size * .8;
	}
	h4 {
		font-size: $font-size * .7;
	}
}

.pending {
	@include opacity(40);
	font-family: ‘Courier New’, Courier, monospace;
	font-style: italic;
}

a {
	color: $color-brown;
	text-decoration: underline;

	@include transition;
	&:hover {
		color: $color-red;
	}

	&.logo {
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		filter: drop-shadow(1px 1px 0 rgba(black, .1));
		&, svg path {
			@include transition;
			fill: white;

		}

		h1, h2 {
			padding-top: $gap;

			color: white;
			@include transition;
		}
		h1 {
			font-size: 37px;
		}
		h2 {
			font-size: 16;
			max-width: 267px;
		}
		&:hover {
			text-decoration: none;
			filter: drop-shadow(1px 1px 0px rgba($color-orange, .7));

		}
		&.small {
			svg {
				width: 220px;
			}
			h1 {
				font-size: 30px;
				padding-top: 0; 
			}
		}
		@media (max-width: $screen-small) {
			svg {
				width: 220px;
			}
			h1 {
				font-size: 30px;
				padding-top: 0; 
			}
			h2 {
				font-size: 14;
				max-width: 220px;
			}

		}
	}
}


section {
	h1, h2, h3, h4 {
		padding: 0 $gap5 $gap 0 !important;
		margin: 0;
		@media (max-width: $screen-small) {
			padding-right: 0!important;
		}

	}

}
.divider {
	height: $gap;
	background-image: url('/assets/images/divider.svg');
	background-repeat: no-repeat;
	background-position: center center;
	&.spacing {
		padding: $gap2 0;
	}
}
.container {
	max-width: 700px;
	padding: 0 $gap2;
	&.error {
		margin: $gap3 0;
	}
}
ul.grid {
	display: grid;
	grid-gap: $gap2;
	@include reset(list);
	margin: 0;
	padding: $gap 0;
	grid-template-columns: 1fr 1fr;
	@media (max-width: $screen-small) {
		grid-template-columns: 1fr;
	}
	a.btn {
		display: block;
	}
}
$social: 30px;
.social {
	display: grid;
	text-align: center;
	padding-bottom: $gap3;
	width: 200px;
	grid-gap: $gap;
	grid-template-columns: repeat(3, $social);
	&:hover {
		a:not(:hover) {
			@include opacity(40);
		}
		a:hover {
			@include scale(1.5);
		}
	}
	a {
		width: $social;
		height: $social;
		background-size: $social $social;
		@include transition;
		background-repeat: no-repeat;
	}
}

blockquote {
	@extend h3;
	text-transform: none;
}

#donations {
	margin-bottom: $gap2;
	.actions {
		@include reset(all);
		@include reset(list);
		a.btn span {
			display: block;

				@media (min-width: $screen-small) {
		text-align: left;
	}
			margin-top: -5px;
			font-size: 70%;
		}
	}
}