@include font-face(monument);

body {
	background-color: $color-orange;
	padding: 0;
	color: $color-brown;
}

.container {
	width: 700px;
	margin: $gap2 auto;
  background-image: url(images/pattern.svg);

  	padding: $gap3;
  .content {
  	background-color: $color-orange;

  	padding: $gap2;
  }
}

a:not(.language) {
	border-bottom: dotted 1px #999;
	color: #666;
	@include transition;
	&:hover {
		color: $color-red;
		border-bottom: solid 1px $color-red;
		text-decoration: none;
	}
}


h1, h2, h3, h4 {
	font-family: monument;
	padding: 15px 0;
	text-transform: uppercase;
}