@include font-face(monument);

h1, h2, h3 {
	font-family: monument;
}

section:after {
	content: "";
	display: block;
	height: $gap;
	margin: $gap3 $gap6;
	background-image: url('/assets/images/divider.svg');
	background-repeat: repeat-x;
}

.container {
	max-width: 700px;
}