<section class="help">
	{% if page.languages contains "pt" %}
	<h3>Como Ajudar</h3>
		<p>Campanhas completas <a href="/pt/case-1">aqui</a>, <a href="/pt/case-2">aqui</a> and <a href="/pt/case-3">aqui</a>.</p>
	{% else %}
	<h3>How to Help</h3>
	<p>Completed campaigns <a href="/en/case-1">here</a>, <a href="/en/case-2">here</a> and <a href="/en/case-3">here</a>.</p>
	{% endif %}
	{% include netaccess.html %}
	{% include janeraka.html %}
	{% include newsletter.html %}
	{% include social.html %}
</section>
