<h1>Como Ajudar</h1>

	{% if page.languages contains "pt" %}
	<h2>Vire um membro</h2>
<p>texto explicando porque virar membro</p>
<tt>
	tem que ser sistema brasileiro, para aceitar cartao de credito nacional. ver sistema que aceita boletos/mensal (se possivel)
</tt>
	{% else %}
	<h2>Become a member</h2>
	<p>text explaining why you should become a member</p>
	<tt>paypal or patreon</tt>
	{% endif %}

	{% if page.languages contains "pt" %}
	<h2>Newsletter</h2>

	<tt>form para newsletter</tt>
	{% else %}
	<h2>Newsletter</h2>
	<tt>form para newsletter</tt>
	{% endif %}

	{% if page.languages contains "pt" %}
	<h2>Mídia Social</h2>
	{% else %}
	<h2>Social Media</h2>
	{% endif %}
	<lite-youtube videoid="3W0WS0oYydo"></lite-youtube>
	<tt>instagram link</tt>
	