---
layout: home
---
<html>
{% include head.html %}
<body class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}">
	<header class="main">
		<div class="container">
			{% include logo.html %}
		</div>
	</header>
<div class="container switch wow">
	{% include switch.html %}
</div>
	<article>

				
		{% include aboutus.html %}
		{% include fight.html %}

		<section class="wow gallery">
			{% for image in site.static_files %}
			{% if image.path contains '/assets/images/gallery-1' %}
			<img src="{{ site.baseurl }}{{ image.path }}">
			{% endif %}
			{% endfor %}
		</section>

		{% include mission.html %}

		<section class="wow gallery">
			{% for image in site.static_files %}
			{% if image.path contains '/assets/images/gallery-2' %}
			<img src="{{ site.baseurl }}{{ image.path }}">
			{% endif %}
			{% endfor %}
		</section>

		{% include challenges.html %}

		<section class="wow gallery">
			{% for image in site.static_files %}
			{% if image.path contains '/assets/images/gallery-3' %}
			<img src="{{ site.baseurl }}{{ image.path }}">
			{% endif %}
			{% endfor %}
		</section>

		{% include help.html %}

			</section>
			{% include footer.html %}
			{% include scripts.html %}
		</body>
		</html>