---
layout: home
---
<html>
{% include head.html %}
<body>
	<header class="main">
		<div class="container">
			<a href="/" class="logo">
				{% include logos/grid.svg %}
				<h1>{{ site.title }}</h1>
				{% include logos/divider-1.svg %}
				<h2>{{ site.description-pt }}</h2></a>
			</div>
		</header>
		<article>


<!-- 			<section class="wow container">
				{% if page.languages contains "pt" %}
				{% include acolhimento_pt.html %}
				{% else %}
				{% include acolhimento_en.html %}
				{% endif %}
			</section>
			<ul class="wow gallery">
				<li style="background-image: url(/assets/images/indd/pos-31-g.jpg)">
					<div class="container">
						<h2>Acolhimento</h2>
					</div>
				</li>
			</ul> -->
			<section class="wow container">
				{% if page.languages contains "pt" %}
				{% include quemsomos_pt.html %}
				{% else %}
				{% include quemsomos_en.html %}
				{% endif %}
				<a href="/assets/pdf/agenda-awaete.pdf" class="btn" target="_blank">Agenda Awaete (PDF)</a>
<a href="/assets/pdf/janeraka-belem.pdf" class="btn" target="_blank">Mapas Janeraka Belém (PDF)</a>
			</section>

			<ul class="wow gallery">
				<li class="medium"  style="background-image: url(/assets/images/IMG_0563.jpg)"></li>
				<li style="background-image: url(/assets/images/2020-02-09-18-08-59-791.jpg)"></li>
				<li style="background-image: url(/assets/images/DSC_0034.JPG)"></li>
				<li  class="medium" style="background-image: url(/assets/images/IMG-20200122-WA0003.jpg)"></li>
			</ul>

			<section class="wow container">
				{% if page.languages contains "pt" %}
				{% include missao_pt.html %}
				{% else %}
				{% include missao_en.html %}
				{% endif %}
			</section>
			<ul class="wow gallery">
				<li class="medium" style="background-image: url(/assets/images/20191128_195515.jpg)"></li>
				<li class="stretch" style="background-image: url(/assets/images/IMG_0998.jpg)"></li>
				<li class="large" style="background-image: url(/assets/images/20200209_173239.jpg)"></li>
				<li style="background-image: url(/assets/images/20191126_203253.jpg)"></li>

			</ul>
			<section class="wow container">
				{% if page.languages contains "pt" %}
				{% include desafios_pt.html %}
				{% else %}
				{% include desafios_en.html %}
				{% endif %}
			</section>
<!-- 			<ul class="wow gallery">
				<li style="background-image: url(/assets/images/17637146_1248921248489393_5106831334969581127_o.jpg)">
					<div class="container">
						<h2>Povos em Trânsito</h2>
					</div>
				</li>
			</ul> -->
<!-- 
			<ul class="wow gallery">
				<li style="background-image: url(/assets/images/IMG_20200104_102614_566.jpg)">
					<div class="container">
						<h2>Residência Artística</h2>
					</div>
				</li>
			</ul>

			<section class="wow container">
				{% if page.languages contains "pt" %}
				{% include troca_pt.html %}
				{% else %}
				{% include troca_en.html %}
				{% endif %}
			</section> -->
			<ul class="wow gallery">
				<li class="large" style="background-image: url(/assets/images/2020-02-09-18-26-50-644.jpg)"></li>
				<li class="medium" style="background-image: url(/assets/images/20191130_191212.jpg)"></li>
				<li style="background-image: url(/assets/images/20191222_110455.jpg)"></li>
				<li class="medium" style="background-image: url(/assets/images/IMG_20200128_163044_112.jpg)"></li>
			</ul>









			<section class="wow container">
				<h1>Como Ajudar</h1>

				{% include doacao_pt.html %}

				{% include newsletter.html %}
			</article>
			{% include footer.html %}
			{% include script.html %}
		</body>
		</html>